CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "users_customuser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_customuser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "users_customuser_groups_customuser_id_group_id_76b619e3_uniq" ON "users_customuser_groups" ("customuser_id", "group_id");
CREATE INDEX "users_customuser_groups_customuser_id_958147bf" ON "users_customuser_groups" ("customuser_id");
CREATE INDEX "users_customuser_groups_group_id_01390b14" ON "users_customuser_groups" ("group_id");
CREATE UNIQUE INDEX "users_customuser_user_permissions_customuser_id_permission_id_7a7debf6_uniq" ON "users_customuser_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "users_customuser_user_permissions_customuser_id_5771478b" ON "users_customuser_user_permissions" ("customuser_id");
CREATE INDEX "users_customuser_user_permissions_permission_id_baaa2f74" ON "users_customuser_user_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "users_customuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "role" varchar(20) NULL, "avatar" varchar(100) NULL, "phone_number" varchar(15) NOT NULL, "company_name" varchar(100) NOT NULL, "website" varchar(200) NOT NULL, "portfolio_url" varchar(200) NOT NULL, "blur_requested" bool NOT NULL, "remove_requested" bool NOT NULL, "image_visibility" varchar(20) NOT NULL, "participant_type" varchar(20) NOT NULL, "photographer_role" varchar(20) NOT NULL, "watermark" varchar(100) NULL, "is_verified" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "events_eventtheme" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "description" text NOT NULL, "template" varchar(100) NOT NULL, "thumbnail" varchar(100) NOT NULL, "is_active" bool NOT NULL, "primary_color" varchar(7) NOT NULL, "secondary_color" varchar(7) NOT NULL, "font_family" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "events_event" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "slug" varchar(50) NOT NULL UNIQUE, "event_type" varchar(20) NOT NULL, "description" text NOT NULL, "start_date" datetime NOT NULL, "end_date" datetime NOT NULL, "timezone" varchar(50) NOT NULL, "location" varchar(255) NOT NULL, "event_code" varchar(6) NOT NULL UNIQUE, "primary_color" varchar(7) NOT NULL, "secondary_color" varchar(7) NOT NULL, "status" varchar(20) NOT NULL, "custom_domain" varchar(255) NOT NULL, "logo" varchar(100) NULL, "cover_image" varchar(100) NULL, "is_public" bool NOT NULL, "require_registration" bool NOT NULL, "allow_guest_upload" bool NOT NULL, "enable_face_detection" bool NOT NULL, "enable_moment_detection" bool NOT NULL, "enable_auto_tagging" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organizer_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "theme_id" bigint NULL REFERENCES "events_eventtheme" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "events_eventconfiguration" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "enable_comments" bool NOT NULL, "enable_likes" bool NOT NULL, "enable_download" bool NOT NULL, "download_watermark" bool NOT NULL, "max_upload_size" integer NOT NULL, "allowed_formats" varchar(200) NOT NULL, "enable_face_grouping" bool NOT NULL, "enable_scene_detection" bool NOT NULL, "enable_quality_filter" bool NOT NULL, "notify_on_upload" bool NOT NULL, "notify_on_comment" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "event_id" bigint NOT NULL UNIQUE REFERENCES "events_event" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "events_eventaccessrequest" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "request_type" varchar(20) NOT NULL, "status" varchar(20) NOT NULL, "message" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "event_id" bigint NOT NULL REFERENCES "events_event" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "events_eventcrew" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "role" varchar(20) NOT NULL, "is_confirmed" bool NOT NULL, "notes" text NOT NULL, "equipment" text NOT NULL, "assigned_area" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "event_id" bigint NOT NULL REFERENCES "events_event" ("id") DEFERRABLE INITIALLY DEFERRED, "member_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "events_eventparticipant" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "email" varchar(254) NOT NULL, "name" varchar(100) NOT NULL, "participant_type" varchar(20) NOT NULL, "is_registered" bool NOT NULL, "registration_code" varchar(20) NOT NULL UNIQUE, "allow_photos" bool NOT NULL, "request_blur" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "event_id" bigint NOT NULL REFERENCES "events_event" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "events_event_organizer_id_3afa7809" ON "events_event" ("organizer_id");
CREATE INDEX "events_event_theme_id_567f7358" ON "events_event" ("theme_id");
CREATE UNIQUE INDEX "events_eventaccessrequest_event_id_user_id_c15dd6e9_uniq" ON "events_eventaccessrequest" ("event_id", "user_id");
CREATE INDEX "events_eventaccessrequest_event_id_361fd0c3" ON "events_eventaccessrequest" ("event_id");
CREATE INDEX "events_eventaccessrequest_user_id_5dbdfaa1" ON "events_eventaccessrequest" ("user_id");
CREATE UNIQUE INDEX "events_eventcrew_event_id_member_id_959d7240_uniq" ON "events_eventcrew" ("event_id", "member_id");
CREATE INDEX "events_eventcrew_event_id_0faf0e4f" ON "events_eventcrew" ("event_id");
CREATE INDEX "events_eventcrew_member_id_e9bccbc1" ON "events_eventcrew" ("member_id");
CREATE UNIQUE INDEX "events_eventparticipant_event_id_email_6f412f82_uniq" ON "events_eventparticipant" ("event_id", "email");
CREATE INDEX "events_eventparticipant_event_id_0f8a651b" ON "events_eventparticipant" ("event_id");
CREATE INDEX "events_eventparticipant_user_id_d23ea9ab" ON "events_eventparticipant" ("user_id");
CREATE TABLE IF NOT EXISTS "events_photocomment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comment" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "photo_id" bigint NOT NULL REFERENCES "events_eventphoto" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "events_photolike" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "photo_id" bigint NOT NULL REFERENCES "events_eventphoto" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "events_photocomment_photo_id_cece82c0" ON "events_photocomment" ("photo_id");
CREATE INDEX "events_photocomment_user_id_5f54da11" ON "events_photocomment" ("user_id");
CREATE UNIQUE INDEX "events_photolike_photo_id_user_id_4e534c91_uniq" ON "events_photolike" ("photo_id", "user_id");
CREATE INDEX "events_photolike_photo_id_ce51b96c" ON "events_photolike" ("photo_id");
CREATE INDEX "events_photolike_user_id_47f8e6d0" ON "events_photolike" ("user_id");
CREATE TABLE IF NOT EXISTS "events_eventphoto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "caption" varchar(200) NOT NULL, "upload_date" datetime NOT NULL, "like_count" integer NOT NULL, "event_id" bigint NOT NULL REFERENCES "events_event" ("id") DEFERRABLE INITIALLY DEFERRED, "uploaded_by_id" bigint NULL REFERENCES "users_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "detected_faces" text NULL CHECK ((JSON_VALID("detected_faces") OR "detected_faces" IS NULL)), "processed" bool NOT NULL, "quality_score" real NULL, "scene_tags" text NULL CHECK ((JSON_VALID("scene_tags") OR "scene_tags" IS NULL)), "view_count" integer NOT NULL);
CREATE INDEX "events_eventphoto_event_id_586af012" ON "events_eventphoto" ("event_id");
CREATE INDEX "events_eventphoto_uploaded_by_id_ea866351" ON "events_eventphoto" ("uploaded_by_id");
